[submodule "tools/splat"]
	path = tools/splat
	url = https://github.com/ethteck/splat.git
[submodule "tools/asm-differ"]
	path = tools/asm-differ
	url = https://github.com/simonlindholm/asm-differ.git
[submodule "tools/m2c"]
	path = tools/m2c
	url = https://github.com/matt-kempster/m2c.git
[submodule "tools/maspsx"]
	path = tools/maspsx
	url = https://github.com/mkst/maspsx
[submodule "tools/decomp-permuter"]
	path = tools/decomp-permuter
	url = https://github.com/simonlindholm/decomp-permuter
